@font-face {
	font-family: PF DinDisplay Pro;
	src: url('../font/PFDinDisplayPro-Regular.ttf');
}

body {
	font-family: PF DinDisplay Pro;
	width: 100%;
	height: 100%;
	background-color: #242928 !important;
	overflow-x: hidden;
}

#before-load {
	position: fixed;
	/*фиксированное положение блока*/
	left: 0;
	/*положение элемента слева*/
	top: 0;
	/*положение элемента сверху*/
	right: 0;
	/*положение элемента справа*/
	bottom: 0;
	/*положение элемента снизу*/
	background: #242928;
	/*цвет заднего фона блока*/
	z-index: 1001;
	/*располагаем его над всеми элементами на странице*/
}

#before-load h1 {
	font-family: Segoe Script !important;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -41px 0 0 -60px;
	color: #fff;
	font-size: 60px;
}

#i1 {
	width: 683px;
	/*ширина gif-изображения*/
	height: 694px;
	/*высота gif-изображения*/
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/bgcircle3.png') no-repeat 50% 50%;
	/*расположение (url) изображения gif и др. параметры*/
	background-size: 85% 85%;
	margin: -347px 0 0 -341px;
}

#i2 {
	position: absolute;
	bottom: -10px;
	left: 36%;
	width: 393px;
	height: 176px;
	background-image: url(../img/Vector2.png);
	z-index: 1000;
	-moz-animation: 2.5s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation: swing 3s infinite ease-in-out;
	-webkit-transform-origin: top;
}

@-moz-keyframes swing {
	0% {
		-moz-transform: rotate(-2deg)
	}

	50% {
		-moz-transform: rotate(2deg)
	}

	100% {
		-moz-transform: rotate(-3deg)
	}
}

@-webkit-keyframes swing {
	0% {
		-webkit-transform: rotate(-2deg)
	}

	50% {
		-webkit-transform: rotate(2deg)
	}

	100% {
		-webkit-transform: rotate(-3deg)
	}
}


#i3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 195px;
	height: 147px;
	background-image: url(../img/bgsprigsOp1.png);
	z-index: 1000;
}

#i4 {
	z-index: 1000;
	position: absolute;
	left: -20px;
	top: -45px;
	width: 310px;
	height: 327px;
	background-image: url(../img/Vector1.png);
	-moz-animation: 3s ease 0s normal none infinite swing;
	-moz-transform-origin: center top;
	-webkit-animation: swing 3s infinite ease-in-out;
	-webkit-transform-origin: top;
}

header {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #fff;
	height: 68px;
	z-index: 1000;
}

.present {
	padding-top: 68px;
	height: 706px;
	background-color: #E0E7E6;
}

.descrip {
	font-family: PF DinDisplay Pro;
	height: 1835px;
	z-index: 9000;
}

.slideshow {
	height: 812px;
	background: linear-gradient(0deg, rgba(8, 9, 9, 0.6), rgba(8, 9, 9, 0.6));
	background-image: url(../img/with_flower.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.yourColor {
	height: 400px;
}

.avtor {
	font-family: PF DinDisplay Pro;
	height: 1650px;
}

.blackBgOb {
	position: absolute;
	left: 50%;
	width: 512px;
	height: 1041px;
}

.blackBg {
	width: 512px;
	height: 1041px;
	z-index: -10;
	left: -50%;
	position: absolute;
	background-color: #191C1B;
}

.footerForm {
	z-index: 100;
	height: 810px;
}

.footerForm1 {
	z-index: 100;
	height: 1410px;
}

.footerForm2 {
	z-index: 100;
	height: 1550px !important;
}

footer {
	height: 196px;
	background-color: #1F2423;
}

.logo {
	margin: 6px 0 0 40px;
}

.menu {
	font-family: PF DinDisplay Pro;
	float: right;
	margin: 7px 0 0 0;
	font-size: 18px;
	line-height: 26px !important;
	background-color: none !important;
	display: flex;
	align-items: center;
}

.nav > li > a {
	margin-right: 10px;
	color: #242928;
}

.yourShampoo {
	color: #A4874E !important;
	font-weight: bold;
}

.nav > li > a:focus,
.nav > li > a:hover {
	text-decoration: none;
	background-color: #fff !important
}

.vector1 {
	position: absolute;
	top: 0;
	width: 310px;
	height: 327px;
	background-image: url(../img/Vector1.png);
	z-index: 0 !important;
}

.vector2 {
	position: absolute;
	top: 530px;
	left: 36%;
	width: 393px;
	height: 176px;
	background-image: url(../img/Vector2.png);
	z-index: 1000;
}

.sprig1 {
	position: absolute;
	top: 518px;
	left: 49%;
	width: 163px;
	height: 188px;
	background-image: url(../img/sprig1.png);
	z-index: 101;
}

.sprig2 {
	position: absolute;
	top: 362px;
	left: 85%;
	width: 199px;
	height: 344px;
	background-image: url(../img/sprig2.png);
	z-index: 102;
}

.sprig3 {
	position: absolute;
	top: 68px;
	left: 61%;
	width: 379px;
	height: 256px;
	background-image: url(../img/sprig3.png);
	z-index: 1;
}

.presnt {
	padding-top: 140px;
	margin-left: 8%;
	font-family: PF DinDisplay Pro;
}

.presnt > h1 {
	width: 565px;
	color: #242928;
	font-size: 48px;
	line-height: 58px;
	font-weight: bold;
}

.presnt > p {
	margin-top: 16px;
	width: 565px;
	font-size: 24px;
	line-height: 35px;
	color: #495351;
}

.presnt > a > button {
	margin-top: 32px;
	border: none;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	width: 250px;
	height: 64px;
	background-color: #242928;
	color: #F8FFFE;
}

.descrip > h2 {
	margin-top: 150px;
	margin-left: 8%;
	width: 690px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

footer {
	font-family: PF DinDisplay Pro;
	padding-top: 25px;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
}

.footerOpas {
	color: #FFFFFF;
	opacity: 0.3;
}

.bgcircle1 {
	position: absolute;
	right: 0;
	top: 965px;
	width: 946px;
	height: 1173px;
	background-image: url(../img/bgcircle1.png);
}

.bgcircle2 {
	position: absolute;
	left: 0;
	top: 1760px;
	width: 735px;
	height: 1173px;
	background-image: url(../img/bgcircle2.png);
}

.bgsprig1 {
	position: absolute;
	left: 260px;
	top: 1070px;
	width: 375px;
	height: 383px;
	opacity: 0.1;
	background-image: url(../img/bgsprig1.png);
}

.bgsprig2 {
	position: absolute;
	left: 0%;
	top: 1930px;
	width: 366px;
	height: 380px;
	opacity: 0.1;
	background-image: url(../img/bgsprig2.png);
}

.bgsprig3 {
	position: absolute;
	left: 393px;
	top: 2170px;
	width: 376px;
	height: 318px;
	opacity: 0.1;
	background-image: url(../img/bgsprig3.png);
}

.bgsprigs {
	position: absolute;
	right: 261px;
	top: 1370px;
	width: 195px;
	height: 147px;
	background-image: url(../img/bgsprigs.png);
}

.bgsprigs1 {
	position: absolute;
	right: 0;
	top: 1650px;
	width: 415px;
	height: 424px;
	background-image: url(../img/Vector3.png);
}

.vector3 {
	position: absolute;
	top: 3326px;
	left: 36%;
	width: 393px;
	height: 176px;
	background-image: url(../img/Vector2.png);
	z-index: 1000;
}

.bgsprig4 {
	position: absolute;
	left: 260px;
	top: 3730px;
	width: 375px;
	height: 383px;
	opacity: 0.1;
	background-image: url(../img/bgsprig1.png);
}

.bgsprigs2 {
	position: absolute;
	right: 261px;
	top: 4285px;
	width: 195px;
	height: 147px;
	background-image: url(../img/bgsprigs.png);
}

.bgcircle3 {
	position: relative;
	left: -65%;
	width: 1083px;
	height: 1094px;
	background-image: url(../img/bgcircle3.png);
}

.bgcircles {
	position: absolute;
	top: 4510px;
	width: 800px;
	left: 50%;
}

.leftCol {
	width: 431px;
	margin-top: 230px;
	padding-left: 0px !important;
}

.leftCol > img {
	box-shadow: 0px 34px 124px #0C0D0D;
}

.rightCol > img {
	box-shadow: 0px 34px 124px #0C0D0D;
}

.rightCol {
	margin-top: -140px;
	float: right;
	padding-right: 0px !important;
}

.descrip > div > div > p {
	font-family: PF DinDisplay Pro;
	margin-left: auto;
	margin-right: auto;
	width: 415px;
	font-size: 18px;
	line-height: 36px;
	color: #F8FFFE;
}

.imgcircle {
	margin-top: 100px;
	margin-left: -10px;
}

.descrip > div > div > h2 {
	margin-top: 370px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.selYourName > form > input[type="text"] {
	font-size: 20px;
	line-height: 36px;
	color: #F8FFFE;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #FFFFFF;
	height: 56px;
	width: 351px;
	opacity: 0.8;
}

.selYourName > form > input[type="text"]::placeholder {
	color: #F8FFFE;
}

.selYourName > form > a > input[type="submit"] {
	margin-left: 36px;
	border: none;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	width: 193px;
	height: 56px;
	background-color: #C49E57;
	color: #F8FFFE;
	box-shadow: 0px 34px 124px rgba(12, 13, 13, 0.7);
}

.howItsWork > h2 {
	font-family: PF DinDisplay Pro;
	margin-top: 150px;
	margin-left: 8%;
	width: 690px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.howItsWork > div > div > p {
	font-family: PF DinDisplay Pro;
	margin-left: auto;
	margin-right: auto;
	width: 415px;
	font-size: 18px;
	line-height: 36px;
	color: #F8FFFE;
}

.leftCol1 {
	margin-top: 60px;
	padding-left: 0px !important;
}

.rightCol1 {
	margin-top: -176px;
	float: right;
	padding-right: 0px !important;
}

.centrTxt {
	font-family: PF DinDisplay Pro;
	text-align: center;
}

.centrTxt > h1 {
	margin-top: -45px;
	color: #F8FFFE;
	font-size: 48px;
	line-height: 58px;
	font-weight: bold;
}

.centrTxt > img {
	margin-top: 20px;
	margin-left: -150px;
	z-index: -100;
}

.centrTxt > h2 {
	margin-top: 45px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.centrTxt > p {
	font-size: 18px;
	line-height: 31px;
	color: #F8FFFE;
}

.leftTxt {
	float: right;
	margin-right: 60px;
	font-family: PF DinDisplay Pro;
}

.leftTxt > h2 {
	margin-top: 460px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.leftTxt > p {
	font-size: 18px;
	line-height: 31px;
	color: #F8FFFE;
}

.rightTxt {
	margin-left: 60px;
	font-family: PF DinDisplay Pro;
}

.rightTxt > h2 {
	margin-top: 460px;
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.rightTxt > p {
	font-size: 18px;
	line-height: 31px;
	color: #F8FFFE;
}

.selBlue {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: 17px;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #45A6DC;
	margin-right: 16px;
}

.selWhite {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: 17px;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F5E7E7;
	margin-right: 16px;
}

.selYellow {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: 17px;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F2C271;
	margin-right: 16px;
}

.selRed {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: 17px;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #DC5E5E;
	margin-right: 16px;
}

.selGreen {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: 17px;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #4AA46D;
}

.activeCol {
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
	border: 1.5px solid #FFFFFF;
}

.activeCol2 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -66px;
	border: 1.5px solid #FFFFFF;
	width: 56px;
	height: 56px;
	border-radius: 28px;
}

.activeCol3 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -28px;
	border: 1.5px solid #FFFFFF;
	width: 56px;
	height: 56px;
	border-radius: 28px;
}

.activeCol4 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -18px;
	margin-top: -66px;
	border: 1.5px solid #FFFFFF;
	width: 56px;
	height: 56px;
	border-radius: 28px;
}

.shadow2 {
	position: absolute;
	margin-left: 6px;
	width: 145px;
	height: 145px;
	background: linear-gradient(0deg, rgba(36, 41, 40, 0.5), rgba(36, 41, 40, 0.5));
}

.shadow1 {
	position: absolute;
	width: 145px;
	height: 145px;
	background: linear-gradient(0deg, rgba(36, 41, 40, 0.5), rgba(36, 41, 40, 0.5));
}

.shadow3 {
	margin-left: 14px;
	position: absolute;
	width: 145px;
	height: 145px;
	background: linear-gradient(0deg, rgba(36, 41, 40, 0.5), rgba(36, 41, 40, 0.5));
}

.activeCol1 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-image: url(../img/check.png);
	background-position: center;
	background-repeat: no-repeat;
	border: 1.5px solid #242928;
}

.blueBg {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #5DC0F8;
}

.whiteBg {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #FFE6E6;
}

.yellowBg {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #FFD18B;
}

.redBg {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #FE5050;
}

.greenBg {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #2FD06D;
}

.yourColorSprig2 {
	position: absolute;
	top: 230px;
	left: 13%;
	width: 251px;
	height: 171px;
	background-image: url(../img/yourColorSprig2.png);
}

.yourColorShampoo {
	position: absolute;
	top: -90px;
	left: 8%;
	width: 668px;
	height: 532px;
	background-image: url(../img/shampoo.png);
}

.selectCol {
	margin-top: 20px;
	width: 400px !important;
	font-family: PF DinDisplay Pro;
}

.selectCol > a > button {
	margin-top: 45px;
	border: none;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	width: 330px;
	height: 72px;
	background-color: #242928;
	color: #F8FFFE;
}

.selectCol > h2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 50px;
	color: #242928;
}

.yourName {
	text-align: center;
	position: absolute;
	top: 320px;
	left: 122px;
	font-family: Segoe Script !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 33px;
	color: #000000 !important;
	transform: rotate(-8.42deg);
}

.yourName1Ob {
	position: absolute;
	top: 135px;
	left: 490px;
}

.yourName1 {
	z-index: 100;
	text-align: center;
	position: relative;
	left: -50%;
	font-family: Segoe Script !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 33px;
	color: #000000 !important;
	transform: rotate(17.20deg);
}

.yourName2Ob {
	position: absolute;
	top: 300px;
	left: 47.4%;
}

.yourName2 {
	position: relative;
	z-index: 100;
	left: -50%;
	text-align: center;
	font-family: Segoe Script !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 33px;
	color: #717171 !important;
	transform: rotate(-8.20deg);
}

.bgcircle10 {
	position: absolute;
	right: 0;
	top: 6020px;
	width: 946px;
	height: 1173px;
	z-index: -1;
	background-image: url(../img/bgcircle1.png);
}

.bgsprigs11 {
	position: absolute;
	top: 515px;
	left: -55px;
	box-shadow: 0px 0px 0px !important;
	z-index: -1;
}

.img-comp-container {
	margin-top: -130px;
	position: relative;
	height: 383px;
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
}

.img-comp-img img {
	display: block;
	vertical-align: middle;
}

.img-comp-slider {
	position: absolute;
	z-index: 9;
	cursor: ew-resize;
	width: 20px;
	height: 40px;
	background-image: url(../img/Rectangle.png);
	opacity: 0.7;
	border-radius: 20px;
}

.avtor > div > h2 {
	font-size: 32px;
	line-height: 50px;
	color: #F8FFFE;
}

.avtor > div > h3 {
	margin-top: -85px;
	margin-left: 40px;
	font-size: 20px;
	line-height: 31px;
	color: #F8FFFE;
}

.avtor > div > p {
	margin-left: 40px;
	font-size: 18px;
	line-height: 31px;
	opacity: 0.7;
	color: #F8FFFE;
}

.centerRight > p {
	margin-top: 30px;
	font-size: 18px;
	line-height: 31px;
	color: #F8FFFE;
}

.colLeft > img {
	box-shadow: 0px 34px 124px #0C0D0D;
	margin-top: 50px;
	margin-bottom: 120px;
}

.colLeftH2 {
	margin-top: 150px;
}

.colLeft {
	margin-top: 120px;
	margin-left: 120px;
}

.centerRight {
	margin-top: 157px;
	margin-left: 26%;
}

.colRight > form > input[type="text"] {
	font-size: 20px;
	line-height: 36px;
	color: #F8FFFE;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #FFFFFF;
	height: 56px;
	max-width: 352px;
	width: 100%;
	opacity: 0.8;
}

.colRight > form > input[type="text"]::placeholder {
	color: #F8FFFE;
}

.colRight > form > input[type="submit"] {
	position: absolute;
	margin-left: 35px;
	border: none;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	width: 193px;
	height: 56px;
	background-color: #C49E57;
	color: #F8FFFE;
	box-shadow: 0px 34px 124px rgba(12, 13, 13, 0.7);
}

.colRight > form {
	margin-top: 75px;
}

.colRight > img {
	margin-left: 410px;
	margin-top: 55px;
}

.lapki {
	margin-top: 50px !important;
}

.footerForm {
	z-index: 1000 !important;
	font-family: PF DinDisplay Pro;
}

.footerForm > h1 {
	z-index: 1000 !important;
	margin-left: 5% !important;
	margin-top: 130px;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	color: #242928;
}

.footerForm > div > form > b {
	margin-top: 25px;
	margin-left: 10%;
	font-weight: 100;
	font-size: 14px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.5;
}

.footerForm1 > div > form > div > b {
	margin-top: 25px;
	margin-left: 10%;
	font-weight: 100;
	font-size: 14px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.5;
}

.footerForm > div > form > input[type="text"] {
	margin-left: 10%;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	height: 45px;
	width: 477px;
	opacity: 0.8;
}

.footerForm > div > form > input[type="text"]::placeholder {
	color: #F8FFFE;
}

.footerForm > div > form > p {
	margin-top: 20px;
	margin-left: 10%;
	font-size: 18px;
	line-height: 36px;
	color: #252A29;
	opacity: 0.8;
}

.footerForm > div > form > select {
	margin-left: 10%;
	-webkit-appearance: button;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: transparent;
	-webkit-appearance: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	margin-top: -5px;
	height: 45px;
	width: 477px;
	background-image: url(../img/option.png);
	background-size: 26px 20px;
	background-repeat: no-repeat;
	background-position: center right 3px;
	opacity: 0.8;
}

.footerForm > div > form > select > option {
	background-color: #fff6e8;
}

.footerForm > div > form > input[type="submit"] {
	margin-left: 10% !important;
	margin-top: 56px;
	border: none;
	text-align: center;
	font-size: 19px;
	line-height: 26px;
	width: 310px;
	height: 80px;
	background-color: #242928;
	color: #F8FFFE;
}

.footerForm1 {
	margin-top: 35px !important;
	margin-left: 50px !important;
	z-index: 1000 !important;
	font-family: PF DinDisplay Pro;
}

.footerForm1 > h1 {
	position: relative;
	z-index: 100 !important;
	margin-left: 5% !important;
	margin-top: 130px;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	color: #242928;
}

.footerForm1 > div > form > b {
	position: absolute;
	width: 490px;
	margin-left: 10%;
	font-weight: 100;
	font-size: 14px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.5;
}

.footerForm1 > div > form > input[type="text"] {
	margin-left: 10%;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	height: 45px;
	width: 477px;
	opacity: 0.8;
}

.footerForm1 > div > form > input[type="text"]::placeholder {
	color: #252A29;
	font-size: 18px;
	line-height: 36px;
}

.footerForm1 > div > form > input[type="tel"] {
	margin-left: 10%;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	height: 45px;
	width: 477px;
	opacity: 0.8;
}

.footerForm1 > div > form > input[type="tel"]::placeholder {
	color: #252A29;
	font-size: 18px;
	line-height: 36px;
}

.footerForm1 > div > form > input[type="email"] {
	margin-left: 10%;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	height: 45px;
	width: 477px;
	opacity: 0.8;
}

.footerForm1 > div > form > input[type="email"]::placeholder {
	color: #252A29;
	font-size: 18px;
	line-height: 36px;
}

.footerForm1 > div > form > p {
	margin-top: 20px;
	margin-left: 10%;
	font-size: 18px;
	line-height: 36px;
	color: #252A29;
	opacity: 0.8;
}

.footerForm1 > div > form > div> p {
	margin-top: 20px;
	margin-left: 10%;
	font-size: 18px;
	line-height: 36px;
	color: #252A29;
	opacity: 0.8;
}

.footerForm1 > div > form > select {
	margin-left: 10%;
	-webkit-appearance: button;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: transparent;
	-webkit-appearance: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	margin-top: -5px;
	height: 45px;
	width: 477px;
	background-image: url(../img/option.png);
	background-size: 26px 20px;
	background-repeat: no-repeat;
	background-position: center right 3px;
	opacity: 0.8;
}

.footerForm1 > div > form > div> select {
	margin-left: 10%;
	-webkit-appearance: button;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: transparent;
	-webkit-appearance: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	margin-top: -5px;
	height: 45px;
	width: 477px;
	background-image: url(../img/option.png);
	background-size: 26px 20px;
	background-repeat: no-repeat;
	background-position: center right 3px;
	opacity: 0.8;
}

.selectProblem {
	z-index: 20000;
	background: #fff;
	position: absolute;
	width: 477px;
	height: 477px;
	margin-left: 9.8%;
	color: #252A29;
	font-size: 18px;
	line-height: 36px;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

label {
	margin-left: 25px;
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
	vertical-align: middle;
}

label:before {
	content: " ";
	color: #000;
	display: inline-block;
	/* шрифт Awesome*/
	font: 15px/25px FontAwesome;
	margin-right: 14px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 28px;
	height: 28px;
	background: #FFF;
	border: 2px solid #252A29;
	border-radius: 2.5px;
	border-image: initial;
	vertical-align: middle;
}

input:checked + label:before {
	content: "\f00c";
}

input:disabled + label:before {
	background: #eee;
	color: #aaa;
}

#whatProblem {
	margin-left: 10%;
	-webkit-appearance: button;
	font-size: 20px;
	line-height: 36px;
	color: #252A29;
	background: transparent;
	-webkit-appearance: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #252A29;
	margin-top: -5px;
	height: 45px;
	width: 477px;
	background-image: url(../img/option.png);
	background-size: 26px 20px;
	background-repeat: no-repeat;
	background-position: center right 3px;
	opacity: 0.8;
}

.footerForm1 > div > form > select > option {
	background-color: #f2f7f6 !important;
}

.footerForm1 > div > form > input[type="submit"] {
	margin-left: 9.5%;
	margin-top: 56px;
	border: none;
	text-align: center;
	font-size: 19px;
	line-height: 26px;
	width: 230px;
	height: 64px;
	background-color: #f2f7f6;
	color: #242928;
	border: 2px solid #242928;
	box-sizing: border-box;
}

.footerForm1 > div > form > button {
	margin-left: 9.5%;
	margin-top: 56px;
	border: none;
	text-align: center;
	font-size: 19px;
	line-height: 26px;
	width: 230px;
	height: 64px;
	background-color: #f2f7f6;
	color: #242928;
	border: 2px solid #242928;
	box-sizing: border-box;
}

.next {
	position: absolute;
	margin-left: 19px !important;
	font-size: 18px !important;
	width: 230px !important;
	height: 64px !important;
	background-color: #242928 !important;
	color: #F8FFFE !important;
}

.selBlue1 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #45A6DC;
	margin-right: 16px;
	margin-left: 10%;
}

.selWhite1 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F5E7E7;
	margin-right: 16px;
}

.selYellow1 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F2C271;
	margin-right: 16px;
}

.selRed1 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #DC5E5E;
	margin-right: 16px;
}

.selGreen1 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #4AA46D;
}

.selBlue2 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #45A6DC;
	margin-right: 16px;
	margin-left: 10%;
}

.selWhite2 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F5E7E7;
	margin-right: 16px;
}

.selYellow2 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #F2C271;
	margin-right: 16px;
}

.selRed2 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #DC5E5E;
	margin-right: 16px;
}

.selGreen2 {
	margin-top: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 56px !important;
	height: 56px;
	border-radius: 28px;
	background-color: #4AA46D;
}

.radio10 > select {
	display: none;
}

.splashBlue {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
	top: -160px;
	left: -50px;
	width: 698px;
	height: 714px;
	background-image: url(../img/splash_blue.png);
}

.splashWhite {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
	top: -160px;
	left: -50px;
	width: 698px;
	height: 714px;
	background-image: url(../img/splash_pink.png);
}

.splashYellow {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
	top: -160px;
	left: -50px;
	width: 698px;
	height: 714px;
	background-image: url(../img/splash_yellow.png);
}

.splashRed {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
	top: -160px;
	left: -50px;
	width: 698px;
	height: 714px;
	background-image: url(../img/splash_red.png);
}

.splashGreen {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
	top: -160px;
	left: -50px;
	width: 698px;
	height: 714px;
	background-image: url(../img/splash-green.png);
}

.bgBlue {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #e9f7ff;
}

.bgWhite {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #fbf4f4;
}

.bgYellow {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #fff6e8;
}

.bgRed {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #ffdfdf;
}

.bgGreen {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #ddfae8;
}

.arom1a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: 228px;
	right: 0;
	width: 521px;
	height: 326px;
	background-image: url(../img/zemlyanika.png);
}

.arom1b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: -218px;
	right: 0;
	width: 694px;
	height: 390px;
	background-image: url(../img/zemlyanika1.png);
}

.arom2a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: 192px;
	right: 0;
	width: 439px;
	height: 362px;
	background-image: url(../img/argan.png);
}

.arom2b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: -218px;
	right: 0;
	width: 853px;
	height: 777px;
	background-image: url(../img/argan1.png);
}

.arom3a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: 140px;
	right: 0;
	width: 460px;
	height: 414px;
	background-image: url(../img/tabak+vanilla.png);
}

.arom3b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: -218px;
	right: 30px;
	width: 774px;
	height: 742px;
	background-image: url(../img/tabak+vanilla1.png);
}

.arom4a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: 131px;
	right: 0;
	width: 532px;
	height: 423px;
	background-image: url(../img/tea.png);
}

.arom4b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
	position: absolute;
	top: -218px;
	right: 0;
	width: 747px;
	height: 751px;
	background-image: url(../img/tea1.png);
}

html,
body {
	height: 100%;
	margin: 0;
}

.bottle {
	right: 30px;
}

.bottle1 {
	background-size: cover;
	position: absolute;

}

#bottle-1 {
	top: 120px;
	right: 40%;
	@include dimension(150px);
	background-image: url('../img/btl1.png');
	z-index: 0;
	width: 433px;
	height: 581px;
}

#bottle-2 {
	@include dimension(200px);
	background-image: url('../img/btl2.png');
	z-index: 0;
	width: 309px;
	height: 595px;
	top: 15px;
	right: 25%
}

#bottle-3 {
	right: 2%;
	top: 100px;
	@include dimension(200px);
	width: 386px;
	height: 591px;
	background-image: url('../img/btl3.png');
	z-index: 0;
}

.anketa {
	z-index: 100;
	background-color: #f2f7f6;
}

.colorleft {
	position: relative;
	left: 11px;
}

.animBlock {
	height: 980px;
}

.bgImage {
	z-index: 0;
}

.positionZakaz {
	margin-left: 7.5% !important;
	width: 477px;
}

.shampoo1 > h3 {
	font-size: 16px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.8;
}

.balz1 > h3 {
	font-size: 16px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.8;
	margin-left: 7px;
}

.shampoobalz > h3 {
	width: 140px;
	position: absolute;
	font-size: 16px;
	line-height: 25px;
	color: #252A29;
	opacity: 0.8;
	margin-left: 14px;
}

.balz1 > img {
	margin-left: 7px;
}

.shampoobalz > img {
	margin-left: 14px;
}

.form2 {
	margin-top: 40px;
}

.positionZakaz > select {
	display: none;
}

.cercleBgAnket {
	width: 683px;
	height: 694px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/bgcircle3.png') no-repeat 50% 50%;
	background-size: 85% 85%;
	margin: -120px 0 0 -341px;
}

.balmblue {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_blue.png') no-repeat 50% 50%;
}

.balmgreen {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_green.png') no-repeat 50% 50%;
}

.balmopacity {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_opacity.png') no-repeat 50% 50%;
}

.balmpink {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_pink.png') no-repeat 50% 50%;
}

.balmred {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_red.png') no-repeat;
}

.balmyellow {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 30%;
	top: -190px;
	background: url('../img/balm_yellow.png') no-repeat 50% 50%;
}

.shampooblue {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -170px;
	background: url('../img/shampoo_blue.png') no-repeat 50% 50%;
}

.shampoogreen {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -170px;
	background: url('../img/shampoo_green.png') no-repeat 50% 50%;
}

.shampooopacity {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -170px;
	background: url('../img/shampoo_opacity.png') no-repeat 50% 50%;
}

.shampoopink {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -170px;
	background: url('../img/shampoo_pink.png') no-repeat 50% 50%;
}

.shampoored {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -199px;
	background: url('../img/shampoo_red.png') no-repeat;
}

.shampooyellow {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	width: 400px;
	height: 712px;
	position: absolute;
	left: 29.9%;
	top: -170px;
	background: url('../img/shampoo_yellow.png') no-repeat 50% 50%;
}

.bgarom1 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	top: -160px;
	left: 130px;
	width: 647px;
	height: 625px;
	background: url('../img/bgArom1.png') no-repeat 50% 50%;
}

.bgarom2 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	top: -160px;
	left: 60px;
	width: 706px;
	height: 671px;
	background: url('../img/bgArom2.png') no-repeat 50% 50%;
}

.bgarom3 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	top: -160px;
	left: 75px;
	width: 685px;
	height: 626px;
	background: url('../img/bgArom3.png') no-repeat 50% 50%;
}

.bgarom4 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	top: -160px;
	left: 70px;
	width: 667px;
	height: 702px;
	background: url('../img/bgArom4.png') no-repeat 50% 50%;
}

#addBalz {
display: none;
}

.balm1 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
position: absolute;
	margin-top: 50px;
	margin-left: -50px;
}

.balm2 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
position: absolute;
	margin-top: -50px;
	margin-left: 155px;
}

.yourName30b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
position: absolute; 
	top: 160px !important; 
	left: 47.6% !important;
}

.yourName40b {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
position: absolute; 
	top: 280px !important; 
	left: 48.5% !important;
}